

/*.axis--x path {
	display: none;
  }*/

.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 1.5px;
}

.line.simctf {
	stroke-dasharray: 3, 3;
	stroke-width: 1px;
	stroke: red;
}
line.montage {
	stroke-dasharray: 3, 3;
	stroke-width: 1px;
	stroke: black;
}
line.montage.highlight {
	stroke-dasharray: none;
	stroke-width: 2px;
}
.line.motion {
	stroke-width: 2px;
}

.nav .nav-title {
	color: #fbfbfb;
	font-size: 150%;
	margin-left: 3px;
	margin-right: 3px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.navbar-brand >  a {
      color: #fbfbfb;
}
@media (min-width: 768px) {.navbar-nav>li>label {
    padding-top: 8px;
    padding-bottom: 8px;
}
}
.navbar-nav>li>label {
    color: #fbfbfb;
    text-decoration: none;
}
.nav.nav-center {
	margin:0;
	float:none;
	display: inline-block;
	position:absolute;
	left: 50%;
	transform: translate(-50%,0);
}
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 55%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-container.ctf {
    padding-bottom: 45%; /* aspect ratio */
}
.svg-container.motion {
    padding-bottom: 100%; /* aspect ratio */
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}
.chart-stage > img {
	width: 100%;
}

#big_micro_wrapper {
width:100%;  
    position:relative;
}

#big_micro {
	width:100%;  
     top:0px; left:0px;
    }

#lmm_micro {
	width:100%;  
     top:0px; left:0px;
    }
#mmm_micro {
	width:100%;  
     top:0px; left:0px;
    }
#big_micro_canvas {
	width:100%; height:100%; 
    position:absolute; top:0px; left:0px;
    }
#big_micro_svg {

	width:100%; height:100%; 
    position:absolute; top:0px; left:0px;
    }
#lmm_canvas {
	width:100%; height:100%; 
    position:absolute; top:0px; left:0px;
    }
#mmm_svg {
	width:100%; height:100%; 
    position:absolute; top:0px; left:0px;
    }
.good {
	fill: #5cb85c;
}
.refit {
	fill: #f0ad4e;
}
.bad {
	fill: #d9534f;
}
 .navbar-inverse .navbar-nav > .active > a, 
 .navbar-inverse .navbar-nav > .active > a:hover, 
 .navbar-inverse .navbar-nav > .active > a:focus {
      color: #ffffff;
      background: #000;
 }
.navbar {
	padding: 0rem;
}

.jumbotron {
	background-image: url("/assets/img/start_back.png");
	background-size: cover;
}

.jumbotron h1 {

	background-color: rgba(255,255,255,0.3);
	padding: 0.5rem;
	display: inline;
	line-height: 1.5;

}
.jumbotron h3 {
	margin-top: 32px;
	background-color: rgba(255,255,255,0.3);
	padding: 0.5rem;
	display: inline;
	line-height: 1.5;
}

.jumbotron blockquote {
	margin-top: 32px;
	background-color: rgba(255,255,255,0.3);
	padding: 0.5rem;
	line-height: 1.5;
	display: inline;
}
.pick_circle {
	fill: none;
	stroke-width: 6px;
	pointer-events: visible;
	stroke: red;
}
.pick_circle.mouseon {
	stroke-width: 15px;
}
.pick_circle.unactive {
	stroke-dasharray: 5,5;
}

