<template>
     <div class="chart-wrapper"> 
      <div class="chart-title">
        CTF plot 
      </div> 
      <div class="chart-stage"> 
       <div id="radial_plot"> 
       </div> 
      </div> 
     </div> 
</template>

<script>
import * as d3 from "d3";
import HOTSPUR_BASE from "./library.js";
import bsb from "binary-search-bounds";
export default {
  props: ["micrograph"],
  mounted: function() {},
  watch: {
    micrograph: {
      handler: function() {
        this.loadradialctf();
      }
    }
  },
  methods: {
    loadradialctf() {
      var that = this;
      if (
        "Gctf" in HOTSPUR_BASE.glob_data[this.micrograph] &&
        "EPA" in HOTSPUR_BASE.glob_data[this.micrograph]["Gctf"] &&
        !(
          "Resolution" in HOTSPUR_BASE.glob_data[this.micrograph]["Gctf"]["EPA"]
        )
      ) {
        d3.json("data_ctf?micrograph=" + this.micrograph, function(data) {
          if (!(data == null)) {
            HOTSPUR_BASE.glob_data[that.micrograph].Gctf["EPA"] = data;
          }
          that.create_radial_ctf_plot();
        });
      } else {
        this.create_radial_ctf_plot();
      }
    },

    create_radial_ctf_plot: function() {
      d3
        .selectAll("#radial_plot")
        .selectAll(".svg-container")
        .remove();
      var that = this;
      function zoomed() {
        var scale = d3.event.transform.k;
        var lowres = 20 - scale;
        start_index_r = bsb.gt(
          HOTSPUR_BASE.glob_data[that.micrograph].Gctf.EPA.Resolution.slice(
            0
          ).reverse(),
          lowres
        );
        start_index =
          HOTSPUR_BASE.glob_data[that.micrograph].Gctf.EPA.Resolution.length -
          start_index_r;

        res_data = HOTSPUR_BASE.glob_data[
          that.micrograph
        ].Gctf.EPA.Resolution.slice(start_index);
        sim_data = HOTSPUR_BASE.glob_data[that.micrograph].Gctf.EPA[
          "Sim. CTF"
        ].slice(start_index);
        exp_data = HOTSPUR_BASE.glob_data[that.micrograph].Gctf.EPA[
          "Meas. CTF - BG"
        ].slice(start_index);

        x.domain(d3.extent(res_data));
        y.domain(d3.extent(sim_data));
        back_y.domain(d3.extent(exp_data));
        g.selectAll("*").remove();
        g
          .append("g")
          .attr("class", "axis axis--x")
          .attr("transform", "translate(0," + height + ")")
          .call(d3.axisBottom(x));

        g
          .append("g")
          .attr("class", "axis axis--y")
          .call(d3.axisLeft(y))
          .append("text")
          .attr("fill", "#000")
          .attr("transform", "rotate(-90)")
          .attr("y", 6)
          .attr("dy", "0.71em")
          .style("text-anchor", "end")
          .text("");

        g
          .append("g")
          .attr("class", "axis axis--y")
          .call(d3.axisRight(back_y))
          .attr("transform", "translate(" + width + ",0)")
          .append("text")
          .attr("fill", "#001")
          .attr("transform", "rotate(-90)")
          .attr("y", 6)
          .attr("dy", "0.71em")
          .style("text-anchor", "end")
          .text("");
        g
          .append("path")
          .datum(res_data)
          .attr("class", "line simctf")
          .attr("d", line);
        g
          .append("path")
          .datum(res_data)
          .attr("class", "line")
          .attr("d", back_line);
      }
      var zoom = d3
        .zoom()
        // only scale up, e.g. between 1x and 50x
        .scaleExtent([1, 16])
        .on("zoom", zoomed);
      var svg = d3
        .selectAll("#radial_plot")
        .append("div")
        .classed("svg-container", true)
        .classed("ctf", true)
        .append("svg")
        .attr("preserveAspectRatio", "xMinYMin meet")
        .attr("viewBox", "0 0 750 300")
        .call(zoom)
        //class to make it responsive
        .classed("svg-content-responsive", true);
      var margin = {
        top: 20,
        right: 20,
        bottom: 30,
        left: 50
      };
      var width = 750 - margin.left - margin.right;
      var height = 300 - margin.top - margin.bottom;
      var g = svg
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      if (
        HOTSPUR_BASE.glob_data[this.micrograph].Gctf &&
        "EPA" in HOTSPUR_BASE.glob_data[this.micrograph]["Gctf"] &&
        "Resolution" in HOTSPUR_BASE.glob_data[this.micrograph]["Gctf"]["EPA"]
      ) {
        var x = d3.scaleLinear().rangeRound([width, 0]);

        var y = d3.scaleLinear().rangeRound([height, 0]);
        var back_y = d3.scaleLinear().rangeRound([height, 0]);
        var lowres = 50;

        var start_index_r = bsb.gt(
          HOTSPUR_BASE.glob_data[this.micrograph].Gctf.EPA.Resolution.slice(
            0
          ).reverse(),
          lowres
        );
        var start_index =
          HOTSPUR_BASE.glob_data[this.micrograph].Gctf.EPA.Resolution.length -
          start_index_r;

        var res_data = HOTSPUR_BASE.glob_data[
          this.micrograph
        ].Gctf.EPA.Resolution.slice(start_index);
        var sim_data = HOTSPUR_BASE.glob_data[this.micrograph].Gctf.EPA[
          "Sim. CTF"
        ].slice(start_index);
        var exp_data = HOTSPUR_BASE.glob_data[this.micrograph].Gctf.EPA[
          "Meas. CTF - BG"
        ].slice(start_index);

        x.domain(d3.extent(res_data));
        y.domain(d3.extent(sim_data));
        back_y.domain(d3.extent(exp_data));

        var line = d3
          .line()
          .x(function(d, i) {
            return x(parseFloat(res_data[i]));
          })
          .y(function(d, i) {
            return y(parseFloat(sim_data[i]));
          });

        var back_line = d3
          .line()
          .x(function(d, i) {
            return x(parseFloat(res_data[i]));
          })
          .y(function(d, i) {
            return back_y(parseFloat(exp_data[i]));
          });
        g
          .append("g")
          .attr("class", "axis axis--x")
          .attr("transform", "translate(0," + height + ")")
          .call(d3.axisBottom(x));

        g
          .append("g")
          .attr("class", "axis axis--y")
          .call(d3.axisLeft(y))
          .append("text")
          .attr("fill", "#000")
          .attr("transform", "rotate(-90)")
          .attr("y", 6)
          .attr("dy", "0.71em")
          .style("text-anchor", "end")
          .text("");

        g
          .append("g")
          .attr("class", "axis axis--y")
          .call(d3.axisRight(back_y))
          .attr("transform", "translate(" + width + ",0)")
          .append("text")
          .attr("fill", "#001")
          .attr("transform", "rotate(-90)")
          .attr("y", 6)
          .attr("dy", "0.71em")
          .style("text-anchor", "end")
          .text("");
        g
          .append("path")
          .datum(res_data)
          .attr("class", "line simctf")
          .attr("d", line);
        g
          .append("path")
          .datum(res_data)
          .attr("class", "line")
          .attr("d", back_line);
      }
    }
  }
};
</script>
