<template>
  <div id="app">
   <div class="row"> 
    <div class="col-sm-6"> 
     <div class="chart-wrapper"> 
      <div class="chart-title">
	      <div class="row">
	      <div class="col-sm-4">
         Micrograph
	      </div>
	      <div class="col-sm-4" id="micrograph_tag">
	</div>
	      <div class="col-sm-4">
		      <div class="btn-group float-right">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	  Display
  </button>
  <div class="dropdown-menu dropdown-menu-right drop-menu-form">
	  <h6 class="dropdown-header">Picks</h6>
	  <div id="settings-picks" >
    <label class="checkbox dropdown-item"><input type="checkbox" id="settings-show-extract_j60">extract_j60</label>
	  </div>
	  <p id="size_text" style="display:none;">
  <label for="idogpicker-size">Size:</label>
  <input type="text" id="idogpicker-size" readonly style="">
</p>
	  <div id="size-slider"></div>
  <label for="idogpicker-size">Threshold:</label>
	  <div id="threshold-slider"></div>
	  <h6 class="dropdown-header">Other</h6>
    <label class="checkbox dropdown-item"><input type="checkbox" id="settings-show-scalebar">Scalebar</label>
  </div>
</div>
	      </div>
	      </div>
      </div>
      <div class="chart-stage"> 
	      <div id="big_micro_wrapper">
       <img id="big_micro" /> 
       <svg id="big_micro_svg"></svg>
	      </div>
      </div> 
     </div> 
    </div> 
    <div class="col-sm-6"> 
     <div class="row"> 
      <div class="col-sm-6"> 
       <div class="chart-wrapper"> 
        <div class="chart-title">
           CTF
        </div> 
        <div class="chart-stage"> 
         <img id="gctf_preview" /> 
        </div> 
       </div> 
      </div>
      <div class="col-sm-6"> 
	      <motion-plot :micrograph="micrograph" />
      </div> 
     </div> 
   <div class="row"> 
    <div class="col-sm-12"> 
	    <ctf-plot :micrograph="micrograph" />
    </div> 
   </div> 
   </div>
   </div>
   <div class="row"> 
    <div class="col-sm-12"> 
     <div class="chart-wrapper"> 
      <div class="chart-title">
        Micrograph information 
      </div> 
      <div class="chart-stage"> 
       <div id="micrograph_information" class="row"> 
      </div> 
     </div> 
     </div>
    </div>
   </div>
   <div class="row"> 
    <div class="col-sm-12 col-md-6"> 
     <div class="chart-wrapper"> 
      <div class="chart-title">
        Low magnification montage 
      </div> 
      <div class="chart-stage"> 
	      <div id="big_micro_wrapper">
       <img id="lmm_micro" /> 
       <canvas id="lmm_canvas"></canvas>
	      </div>
      </div> 
     </div> 
    </div> 
    <div class="col-sm-12 col-md-6"> 
     <div class="chart-wrapper"> 
      <div class="chart-title">
        Medium magnification montage 
      </div> 
      <div class="chart-stage"> 
	      <div id="big_micro_wrapper">
       <img id="mmm_micro" /> 
       <svg id="mmm_svg"></svg>
	      </div>
      </div> 
     </div> 
    </div> 
   </div>
  </div>
</template>

<script>
import CtfPlot from './CtfPlot.vue'
import MotionPlot from './MotionPlot.vue'

export default {
	components: {
		CtfPlot: CtfPlot,
		MotionPlot: MotionPlot
	},
	data: function () {
		return {
			micrograph : ""
		}
	}
}
</script>
