<template>
       <div class="chart-wrapper"> 
        <div class="chart-title">
          Corrected motion 
        </div> 
        <div class="chart-stage"> 
         <div id="motion_chart" ></div> 
        </div> 
       </div> 
</template>

<script>

import * as d3 from 'd3'
import HOTSPUR_BASE from './library.js'
import bsb from 'binary-search-bounds'
export default {
	props: ['micrograph'],
	mounted: function () {
	},
	watch: {
		'micrograph' :{
			handler: function (newVal, oldVal) {
				this.create_motion_chart();
			}
		}
	},
	methods: {
                create_motion_chart() {
			var that = this;
                        d3.selectAll("#motion_chart").selectAll(".svg-container").remove();
			function zoomed() {
				gline.attr("transform", d3.event.transform);
  gX.call(xAxis.scale(d3.event.transform.rescaleX(x)));
  gY.call(yAxis.scale(d3.event.transform.rescaleY(y)));
			}
			var zoom = d3.zoom().scaleExtent([0.1,10]).on("zoom", zoomed);
                        var svg = d3.selectAll("#motion_chart")
                                .append("div")
                                .classed("svg-container", true)
                                .classed("motion", true)
                                .append("svg")
                                .attr("preserveAspectRatio", "xMinYMin meet")
                                .attr("viewBox", "0 0 300 300")
                                //class to make it responsive
				.call(zoom)
                                .classed("svg-content-responsive", true);
                                var margin = {
                                        top: 20,
                                        right: 20,
                                        bottom: 20,
                                        left: 20
                                };
                                var width = 300 - margin.left - margin.right;
                                var height = 300 - margin.top - margin.bottom;
                                var g = svg
                                .append("g")
                                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

                        var x = d3.scaleLinear().rangeRound([width, 0]);

                        var y = d3.scaleLinear().rangeRound([height, 0]);
                        x.domain([-20, 20]);
                        y.domain([-20, 20]);
			var xAxis = d3.axisBottom(x);
			var yAxis = d3.axisLeft(y);
                        var gX = g
                                .append("g")
                                .attr("class", "axis axis--x")
                                .attr("transform", "translate(0," + height / 2 + ")")
                                .call(xAxis);

                        var gY = g
                                .append("g")
                                .attr("class", "axis axis--y")
                                .attr("transform", "translate(" + width / 2 + ",0)")
                                .call(yAxis);
                                gY.append("text")
                                .attr("fill", "#000")
                                .attr("transform", "rotate(-90)")
                                .attr("y", 6)
                                .attr("dy", "0.71em")
                                .style("text-anchor", "end")
                                .text("");
                        if (HOTSPUR_BASE.glob_data[this.micrograph].MotionCor2) {
                                var line = d3
                                        .line()
                                        .x(function (d, i) {
                                                return x(parseFloat(HOTSPUR_BASE.glob_data[that.micrograph].MotionCor2.x_shifts[i]));
                                        })
                                        .y(function (d, i) {
                                                return y(parseFloat(HOTSPUR_BASE.glob_data[that.micrograph].MotionCor2.y_shifts[i]));
                                        });
                                if (HOTSPUR_BASE.glob_data[that.micrograph].MotionCor2.x_shifts) {
                                        var gline = g
                                                .append("path")
                                                .datum(HOTSPUR_BASE.glob_data[that.micrograph].MotionCor2.x_shifts)
                                                .attr("class", "line motion")
                                                .attr("d", line);
                                }
                        }
                }
	}
}

</script>
