<template>
<div id="app">
<div class="row"> 
    <div class="col-sm-6 col-md-4"> 
     <div class="chart-wrapper"> 
      <div class="chart-title">
        Dose rate 
      </div> 
      <div class="chart-stage"> 
       <div id="grid-1-1"> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="col-sm-6 col-md-4"> 
     <div class="chart-wrapper"> 
      <div class="chart-title">
        First frame shift 
      </div> 
      <div class="chart-stage"> 
       <div id="grid-1-2"> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="col-sm-6 col-md-4"> 
     <div class="chart-wrapper"> 
      <div class="chart-title">
        Total frame shift 
      </div> 
      <div class="chart-stage"> 
       <div id="grid-1-3"> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div class="row"> 
    <div class="col-sm-6 col-md-4"> 
     <div class="chart-wrapper"> 
      <div class="chart-title">
        Defocus 
      </div> 
      <div class="chart-stage"> 
       <div id="grid-2-1"> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="col-sm-6 col-md-4"> 
     <div class="chart-wrapper"> 
      <div class="chart-title">
        Astigmatism
      </div> 
      <div class="chart-stage"> 
       <div id="grid-2-2"> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="col-sm-6 col-md-4"> 
     <div class="chart-wrapper"> 
      <div class="chart-title">
        Astigmatism angle
      </div> 
      <div class="chart-stage"> 
       <div id="grid-2-3"> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div class="row"> 
    <div class="col-sm-6 col-md-4"> 
     <div class="chart-wrapper"> 
      <div class="chart-title">
        Estimated resolution 
      </div> 
      <div class="chart-stage"> 
       <div id="grid-3-1"> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="col-sm-6 col-md-4"> 
     <div class="chart-wrapper"> 
      <div class="chart-title">
        Gctf validation score 
      </div> 
      <div class="chart-stage"> 
       <div id="grid-3-2"> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="col-sm-6 col-md-4"> 
     <div class="chart-wrapper"> 
      <div class="chart-title">
        Phase shift 
      </div> 
      <div class="chart-stage"> 
       <div id="grid-3-3"> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="col-sm-6 col-md-4"> 
     <div class="chart-wrapper"> 
      <div class="chart-title">
        Micrographs per hour 
      </div> 
      <div class="chart-stage"> 
       <div id="grid-4-1"> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="col-sm-6 col-md-4"> 
     <div class="chart-wrapper"> 
      <div class="chart-title">
        Picked Particles
      </div> 
      <div class="chart-stage"> 
       <div id="grid-4-2"> 
       </div> 
      </div> 
     </div> 
    
    </div> 
        <div class="col-sm-6 col-md-4"> 
		<statistics-plot title="Picked particles" ylabel="Particles" :loaded="loaded" />
</div>
   </div> 
  </div>
</template>

<script>
import StatisticsPlot from "./StatisticsPlot.vue";
import HOTSPUR_BASE from "./library.js";

export default {
  components: {
    StatisticsPlot: StatisticsPlot
  },
  methods: {
    
  },

  data: function() {
    return {
      loaded: ""
    };
  }
};
</script>
