<template>

     <div class="chart-wrapper"> 
      <div class="chart-title">
        Resolution vs. Dose Rate
      </div> 
      <div class="chart-stage"> 
       <div id="chart"> 
       </div> 
      </div> 
     </div> 

</template>

<script>
import * as d3 from "d3";
import HOTSPUR_BASE from "./library.js";
import HOTSPUR_ANNOTATION from "./annotations.js";
export default {
  props: ["title", "loaded","ylabel"],
  mounted: function() {},
  watch: {
    "loaded" : {
      handler : function () {
        this.create_plot();
      }
    }
  },
  methods: {
    create_xdata() {
      var xdata = HOTSPUR_BASE.micrograph_time.map(function (d) {
        return [d[0],HOTSPUR_BASE.glob_data[d[0]].moviestack.dose_per_pix_frame];
      });
      return xdata;
    },
    yfunc(d, i) {
      return HOTSPUR_BASE.glob_data[d[0]].Gctf["Estimated resolution"];
    },
    create_plot() {
      var that = this;
      d3.select(this.$el)
        .selectAll("#chart")
        .selectAll(".svg-container")
        .remove();
      var svg = d3.select(this.$el)
        .selectAll("#chart")
        .append("div")
        .classed("svg-container", true)
        .append("svg")
        .attr("preserveAspectRatio", "xMinYMin meet")
        .attr("viewBox", "0 0 500 250")
        //class to make it responsive
        .classed("svg-content-responsive", true);
      var margin = {
        top: 20,
        right: 20,
        bottom: 30,
        left: 50
      };
      var width = 500 - margin.left - margin.right;
      var height = 250 - margin.top - margin.bottom;
      var g = svg
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      var x = d3.scaleLinear().rangeRound([0, width]);

      
      var y = d3.scaleLinear().rangeRound([height, 0]);

      var xdata = this.create_xdata();
      x.domain([
        d3.min(xdata, function(d, i) {
          try {
            return parseFloat(d[1]);
          } catch (e) {
            return null;
          }
        }) * 0.9,
        d3.max(xdata, function(d, i) {
          try {
            return parseFloat(d[1]);
          } catch (e) {
            return null;
          }
        }) * 1.1
      ]);
      
      y.domain([
        d3.min(xdata, function(d, i) {
          try {
            return parseFloat(that.yfunc(d, i));
          } catch (e) {
            return null;
          }
        }) * 0.9,
        d3.max(xdata, function(d, i) {
          try {
            return parseFloat(that.yfunc(d, i));
          } catch (e) {
            return null;
          }
        }) * 1.1
      ]);
      var xAxis = d3.axisBottom(x);
      function zoomedX() {
        var xt = d3.event.transform.rescaleX(x);
        
        gdot.attr("cx", function(d, i) {
          return xt(d[1]);
        });
        gX.call(xAxis.scale(d3.event.transform.rescaleX(x)));
      }
      var zoomX = d3
        .zoom()
        // only scale up, e.g. between 1x and 50x
        .scaleExtent([1, 50])
        .on("zoom", zoomedX);
      var gX = g
        .append("g")
        .attr("class", "axis axis--x")
        .attr("transform", "translate(0," + (height) + ")")
        .call(xAxis);
      g.append("svg:rect")
        .attr("class", "zoom x box")
        .attr("width", width-margin.left-margin.right)
        .attr("height", margin.bottom)
        .attr("transform", "translate(0," + (height) + ")")
        .style("visibility", "hidden")
        .attr("pointer-events", "all")
        .call(zoomX);

      var yAxis = d3.axisLeft(y);
      function zoomedY() {
        var yt = d3.event.transform.rescaleY(y);
        
        gdot.attr("cy", function(d, i) {
          return yt(that.yfunc(d, i));
        });
        gY.call(yAxis.scale(d3.event.transform.rescaleY(y)));
      }
      var zoomY = d3
        .zoom()
        // only scale up, e.g. between 1x and 50x
        .scaleExtent([1, 50])
        .on("zoom", zoomedY);
      var gY = g
        .append("g")
        .attr("class", "axis axis--y")
        .call(yAxis);
      g.append("svg:rect")
        .attr("class", "zoom y box")
        .attr("width", margin.left)
        .attr("height", height - margin.bottom -margin.top )
        .attr("transform", "translate("+ -margin.left +",0)")
        .style("visibility", "hidden")
        .attr("pointer-events", "all")
        .call(zoomY);
      gY
        .append("text")
        .attr("fill", "#000")
        .attr("transform", "rotate(-90)")
        .attr("y", 6)
        .attr("dy", "0.71em")
        .style("text-anchor", "end")
        .text(that.ylabel);

      
      var tooltip = g
        .append("text")
        .attr("class", "tooltip")
        .style("opacity", 0);

      var gdot = g
        .selectAll(".dot")
        .data(xdata)
        .enter()
        .filter(function(d, i) {
          try {
            var result = parseFloat(that.yfunc(d, i));
            if (isNaN(result)) {
              return false;
            }
            return true;
          } catch (e) {
            return false;
          }
        })
        .append("circle")
        .attr("class", function(d) {
          if (
            HOTSPUR_ANNOTATION.annotation[d[0]] &&
            HOTSPUR_ANNOTATION.annotation[d[0]].tag
          ) {
            return "dot " + HOTSPUR_ANNOTATION.annotation[d[0]].tag;
          } else {
            return "dot";
          }
        })
        .attr("id", function(d) {
          return d[0].replace(/\//g, "_").replace(/\./g, "_");
        })

        .attr("r", 3.5)
        .attr("cx", function(d) {
          return x(d[1]);
        })
        .attr("cy", function(d, i) {
          return y(that.yfunc(d, i));
        })
        .on("mouseover", function(d, i) {
          d3
            .selectAll(
              "#" + d[0].replace(/\//g, "_").replace(/\./g, "_") + ".dot"
            )
            .attr("r", 7);
          tooltip.style("opacity", 0.9);
          tooltip
            .html(d[0] + " " + d3.format(",.2f")(that.yfunc(d, i)) + "")
            .attr("x", margin.left)
            .attr("y", margin.top - 2 + "px");
        })
        .on("mouseout", function(d) {
          d3
            .selectAll(
              "#" + d[0].replace(/\//g, "_").replace(/\./g, "_") + ".dot"
            )
            .attr("r", 3.5);
          tooltip.style("opacity", 0);
        })
        .on("click", function(d) {
          var url = "micrograph.html?micrograph=";
          url += d[0];
          window.location = url;
        });
      
    }
  }
};
</script>
