
<!DOCTYPE html>
<html>
 <head> 
	 <title>{% block title %}{% endblock %}</title> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /> 
  <link rel="stylesheet" href="/assets/bower_components/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/assets/bower_components/bootstrap/dist/css/bootstrap.css" />  
        <link rel="stylesheet" type="text/css" href="/assets/bower_components/jquery-ui/jquery-ui.min.css" />  
	<link rel="stylesheet" type="text/css" href="/assets/css/keen-dashboards.css" /> 
	<link rel="stylesheet" type="text/css" href="/assets/css/histogram.slider.css" /> 
  <link rel="stylesheet" type="text/css" href="/assets/css/graphs.css" /> 
  <!--  <link rel="stylesheet" type="text/css" href="/assets/lib/bootstrap-toggle-master/css/bootstrap-toggle.min.css"/>  --!>
 </head> 
 <body class="application"> 
  <nav class="navbar bg-faded navbar-inverse fixed-top navbar-toggleable-md" role="navigation"> 
<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target=".dualcollapse" aria-controls="bs-example-navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

     <div class="collapse navbar-collapse dualcollapse align-self-stretch align-items-stretch" id="bs-example-navbar-collapse-1"> 

      <ul class="navbar-nav mr-auto">
    <li class="nav-item d-flex"><a class="nav-link align-self-stretch d-flex align-items-center" href="/">Home</a>
    </li>
{% set navigation_bar = [
    ('statistics.html', 'statistics', 'Statistics'),
    ('micrograph.html', 'micrograph', 'Micrographs'),
    ('montage.html', 'montage', 'Montages')
] -%}
{% set active_page = active_page|default('statistics') -%}
    {% for href, id, caption in navigation_bar %}
    <li class="nav-item d-flex {% if id == active_page %}active{% endif
    %}"><a class="nav-link align-self-stretch d-flex align-items-center" href="{{ href|e }}">{{ caption|e }}</a>
    </li>
    {% endfor %}
      </ul> 
     </div> 



      <div class="navbar-brand d-flex mx-auto flex-column justify-content-center">
      <div class="d-flex justify-content-center"> 
      <a href="javascript:void(0);" id="button_previous"><i class="fa fa-chevron-left" aria-hidden="true"></i> </a> <span id="title_field"></span> <a href="javascript:void(1);" id="button_next"> <i class="fa fa-chevron-right" aria-hidden="true"></i></a></div>
      <div class="d-flex flex-row justify-content-center">
      <div class="form-group-row" style="display:none; width:450px;" id="grid-anno-form">
    <input class="form-control" type="text" value="" id="grid-anno-input">
  </div>
  <span class="navbar-text small p-0" id="grid-anno-field">A good grid</span>
  </div>
      </div>

     <div class="collapse navbar-collapse dualcollapse" > 

      <ul class="navbar-nav ml-auto">
      <span class="navbar-text my-0 my-lg-0 small text-right text-nowrap ml-auto" id="timer">Last: ago</span>
    </ul>
    </div>
  </nav>
  <div class="container-fluid"> 
	  {% block content %}
	  {% endblock %}
  </div> 
  <hr /> 
  <p class="small text-muted">Built by Johannes</p> 
 </div> 
 {% block cust_js %}
 {% endblock %}
</body>
</html>
