<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Hotspur</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /> 
  <link rel="stylesheet" type="text/css" href="/assets/bower_components/bootstrap/dist/css/bootstrap.min.css"/> 
  <link rel="stylesheet" type="text/css" href="/assets/css/graphs.css"/> 
</head>
<body>
<div class="jumbotron jumbotron-fluid pb-3">
<div class="container">
<h1 class="display-3">Welcome to Hotspur</h1>
<p></p>
<h3 class="display-9">The Gouaux lab's rapid cryo-EM micrograph inspection system</h3>
<p></p>
<a class="btn btn-primary" style="margin-top: 0rem;" href="/instructions.html" role="button">Instructions</a>
<a class="btn btn-primary" style="margin-top: 0rem;" href="http://ohsukrios.slack.com" role="button">Issues?</a>
<blockquote class="blockquote-reverse">
  <small>An excellent micrograph, very good particles - and full of expectations!</small>
</blockquote>
</div>
</div>
<div class="container-fluid">
				<div class="card-columns">
{% for user,dataset in dataset_dict.items()|sort %} 
<div class="card">
  <!-- Default panel contents -->
  <h3 class="card-header">{{ user|e }}</h3>
  <table class="table table-striped table-sm">
					<thead>
									<tr>
													<th>Dataset</th>
													<th># Micrographs</th>
													<th>Date</th>
									</tr>
					</thead>
					<tbody>
  {% for dataset_name, num in dataset.items()|sort %}
	<tr>
					<th>
  <a href="/{{user|e}}/{{dataset_name|e}}/statistics.html">{{ dataset_name | e }}</a>
					</th>
					<th></th>
					<th></th>
	</tr>

  {% endfor %}
  </tbody>
	</table>
</div>
{% endfor %}
</div>
</div>
<hr></hr>
   <p class="small text-muted">Built by Johannes</p> 
</div>

</body>
</html>
