{% extends 'base.html' %}
{% block title %}Collection statistics{% endblock %}
{% set active_page = "micrograph" %}
{% block nav_title %}
{% endblock %}
{% block cust_js %}
<script src="/assets/js/micrograph_build.js?vers=20180131"></script>
{% endblock %}
{% block content %}
<div id="app">
   </div>
     {% endblock %}
