{% extends 'base.html' %}
{% block title %}Montages{% endblock %}
{% set active_page = "montage" %}
{% block nav_title %}
      <ul class="nav navbar-nav nav-center"> 
      <li><p class="navbar-text nav-title"><a href="javascript:void(0);" id="button_previous"><span class="glyphicon glyphicon-arrow-left"></span></a> <span id="title_field"></span> <a href="javascript:void(1);" id="button_next"><span class="glyphicon glyphicon-arrow-right"></span></a></p></li>
      </ul>
{% endblock %}
{% block cust_js %}
    <script type="text/javascript" src="/assets/js/montage_build.js"></script>  
{% endblock %}
{% block content %}
<div id="app">
   </div>
     {% endblock %}
