{% extends 'base.html' %}
{% block title %}Collection statistics{% endblock %}
{% set active_page = "statistics" %}
{% block cust_js %}
  <script type="text/javascript" src="/assets/js/statistics_build.js"></script>  
{% endblock %}
{% block content %}
<div id="app">
   </div> 
{% endblock %}
